body{
    text-align:center;
    margin:0;
    font-family:monospace;
}

.login{
    margin: 10px;
    display: flex;
    justify-content: center;
}

.error{
    color:red;
}
.success{
    color:green;
}
